h2{
    text-align:center;
    font-size: 30;
    
}
p{
    font-family: "Courier New";
    font-weight: 1000;

}
p:hover{
    color:purple;
}
a{
    color: green;
    text-align:center;
    font-size: 30;
}
body{
    background-color: beige;
}
#musashi{
width: 750px;
height: 350px;
}